*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}
.body{
    font-family: arial, sans-serif;
}
.navber-0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}
.menu{
    list-style: none;
    display:flex;
    gap: 40px;

}
.menu a{
    text-decoration: none;
    color: #374151;
    font-weight:700;
}
.menu a:hover{
    color:blue;
}
.nav-btn button{
    background-color:#4F46E5 ;
    color: white; 
    border: none;
    padding: 14px 28px;  
    border-radius: 10px;
    cursor: pointer;
  font-size: 18px;
    font-weight: 600;    
}
.nav-btn button:hover{
    background: #3730a3;  
}
/* Hero section */
.hero{
    height: 700px;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display:flex;
    justify-content:center;
    align-items: center;
}
.hero-content{
    text-align: center;
    color:white;

}
.hero-content h1{
    font-size:72px;
    /* font-weight: 700; */
    /* line-height: 85px; */
    margin-bottom: 25px;
}
.hero-content p{
    max-width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 35px;
}
.hero-content button{
    background-color:#4F46E5 ;
    color: white; 
    border: none;
    padding: 16px 35px;  
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.hero-content button:hover{
    background: #3730a3;
}
/* git commit-01 */
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
} 
/* speakers card */
.speakers{
    padding: 100px 0;
    
}
h2{
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.speaker-conteaner{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    
}
.speaker-card{
    background: #ffffff;
    border-radius: 19px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}
.speaker-card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.speaker-card h3{
    font-size: 28px;
    margin-top: 20px;
}
.speaker-card p{
    color:#6b7280;
    margin: 12px 0 25px;
    text-align: center;                                                                            
    transition:.5s;
}
.speaker-card:hover{
    transform:translatey(-5px);
}
/* pricing-section */
.pricing{
    padding: 100px 0;
    /* width:300px; */
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.pricing h2{
    text-align: center;
    font-size: 42px;
    margin-bottom: 20px;
}
.pricing p{
    text-align: center;
}
.pricing-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.prising-card{
    background-color:#f8f9fb;
    padding:40px;
    border-radius: 32px;
    border-color: #e5e7eb;
    border-style: solid; 
    border-width: 1px;
    width: 300px;
    /* height: auto; */
    /* box-shadow: 0 10px 25 rgba(0, 0, 0, .08);
    text-align: center; */
}